

body{
    background-color: #111;
}

/* INPUT BOX COLOR*/
.inputContainer{
    background-color:rgba(0,0,0,0.0);
}
h1,
h2,
h3,
h4,
label,
span{
    color:#fff;
}
/* INPUTS COLOR*/
input[type='text'],
input[type='number'],
input[type='tel'],
input[type='date'],
input[type='time'],
input[type='email'],
input[type='password'],
input[type='button'],
.selected{
    color:#fff;
    background:#222;
}
input[type='text']:focus,
input[type='number']:focus,
input[type='tel']:focus,
input[type='date']:focus,
input[type='email']:focus,
input[type='time']:focus,
input[type='password']:focus{
    background: #151515;
}
input[type='button']:active{
    background: dodgerblue;
}

.selected:focus{
    border: 2px solid dodgerblue;
}

.dropdown_container{
    color:#fff;
    background:rgba(0,0,0,0.6);
}
.dropdown{
    color:#fff;
    background:#222;
}
.dropdown > h3{
}
dropdown:active{
    border: 2px solid dodgerblue;
}
.option{
    background:inherit;
}
.option:hover{
    background: dodgerblue;
}
.boxLayout{
    color:#fff;
    background:inherit;
}
